altgraph==0.17
appdirs==1.4.3
asn1==2.2.0
biplist==1.0.3
bitshares==0.4.0
certifi==2019.11.28
chardet==3.0.4
dmgbuild==1.3.3
ds-store==1.1.2
ecdsa==0.15
ECPy==1.2.1
Events==0.3
future==0.18.2
graphenelib==1.2.0
hidapi==0.9.0.post2
idna==2.9
ledgerblue==0.1.31
mac-alias==2.0.7
macholib==1.14
Pillow==7.0.0
protobuf==3.11.3
pycryptodome==3.9.7
pycryptodomex==3.9.7
PyInstaller==3.6
pylibscrypt==1.8.0
python-u2flib-host==3.0.3
pyttk==0.3.2
requests==2.23.0
scrypt==0.8.13
six==1.14.0
urllib3==1.25.8
websocket-client==0.57.0
websockets==8.1
